body {
    display: flex;
    justify-content: center;
}

main {
    position: relative;
}

.square {
    width: 40px;
    height: 40px;
}

#player {
    width: 40px;
    height: 40px;
    background-color: grey;
    /* animation: slideRight 0.1s */
}

#win {
    position: absolute;
    z-index: 1;
    top: 40%;
    background-color: green;
    width: 100%;
    text-align: center;
    opacity: 0.8;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.slideRight {
    animation: slideRight 0.1s;
}

@keyframes slideRight {
    from {margin-left: 20px;}
    to {margin-left: 0;}
    }

.slideLeft {
    animation: slideLeft 0.1s;
}

@keyframes slideLeft {
    from {margin-left: -20px;}
    to {margin-left: 0;}
    }

.slideBottom {
    animation: slideBottom 0.1s;
}

@keyframes slideBottom {
    from {margin-top: 20px;}
    to {margin-top: 0%;}
    }

.slideTop {
    animation: slideTop 0.1s;
}

@keyframes slideTop {
    from {margin-top: -20px;}
    to {margin-top: 0%;}
    }