body {
    display: flex;
    /* justify-content: center; */
    background-color: #181A1B;
    background-image: url(./assets/background-default.webp);
    height: 630px;
}

label, input, form, option, h2 {
    font-family: 'Syne Mono', monospace;
    color: orange;
    font-size: 1.3rem;
}


main {
    position: relative;
}

main div#modalBackgroundLogin {
    display: flex;
    align-items: center;
}

main div.modal-content {
    background-image: url(./assets/background-lava.jpg);
    border-radius: 10px;
}

main .input, button.button {
    border-color: grey;
}

main .input:focus {
    border-color: orange;
}

.activated {
    background-image: url(./assets/background-lava.jpg);
    background-size: cover;
    background-position: center;
}

.square {
    width: 40px;
    height: 40px;
}

.wall {
    background-image: url(./assets/block.png);
    background-size: contain;
}

#player {
    width: 40px;
    height: 40px;
    background-image: url(./assets/warrior1.png);
    background-size: contain;
    background-position: center;
}

.item {
    background-image: url(./assets/scroll.png);
    animation:spin 2s linear infinite;
    /* background-size: cover; */
}

.potion {
    background-image: url(./assets/potion.png);
    background-size: cover;
    animation:spin 2s linear infinite;
}

.monster {
    background-image: url(./assets/skelleton.gif);
    background-size: 170%;
    background-position: center;
    transition: all 2s;
}

img#boss {
    width: 100px;
    height: 90px;
    max-width: initial;
}

@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
}

#win {
    top: 10%;
    background-image: url(./assets/end.gif);
    background-size: 100% 100%;
    height: 400px;
    border-radius: 10px;
    opacity: 0.8;
}

#win h1 {
    font-size: 80px;
    font-family: monospace, sans-serif;
}

#lose {
    top: 10%;
    background-image: url(./assets/gameover.jpg);
    background-size: 100% 100%;
    height: 400px;
    border-radius: 10px;
    opacity: 0.8;
}

#lose h1 {
    font-size: 80px;
    font-family: monospace, sans-serif;
}

.slideRight {
    animation: slideRight 0.1s;
}

.slideLeft {
    animation: slideLeft 0.1s;
    transform: scaleX(-1);
}

.slideBottom {
    animation: slideBottom 0.1s;
    transform: rotate(90deg);
}

.slideTop {
    animation: slideTop 0.1s;
    transform: rotate(-90deg);
}

@keyframes slideRight {
    from {margin-left: 20px;}
    to {margin-left: 0;}
    }

@keyframes slideLeft {
    from {margin-left: -20px;}
    to {margin-left: 0;}
    }

@keyframes slideBottom {
    from {margin-top: 20px;}
    to {margin-top: 0%;}
    }

@keyframes slideTop {
    from {margin-top: -20px;}
    to {margin-top: 0%;}
    }

input.input {
    background-color: #181A1B;
    color: orange;
}

input.input::placeholder {
    color: grey;
}

div#login h1, div#login label {
    color: orange;
}

div#login h1 {
    font-family: 'Syne Mono', monospace;
}

div.select select {
    background-color: #181A1B;
    color: grey;
}

button#startGame {
    background-color: #181A1B;
    color: grey;
}

div#userInfo {
    width: 180px;
    padding: 5px;
    background-color: #181A1B;
    margin: 5px;
    height: 220px;
    border: 2px solid grey;
    text-align: center;
    border-radius: 5px;
}

div#userInfo h2 {
    font-size: 30px;
    color: orange;
}

div.template {
    background-image: url(./assets/template-medieval.png);
    background-size: 100% 100%;
    margin: 5px 0;
}

div#userInfo div.health {
    width: 165px;
}

div#userInfo div#healthbar {
    height: 50px;
    background-color: rgb(145, 16, 16);
    width: 100%;
    z-index: 2;
}